{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $pages := .RegularPages }}

  {{ if gt (len $pages) 0 }}
    <ul style="list-style-type:none; padding-left:0;">
      {{ range $pages }}
        <li style="margin-bottom: 1.5em;">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ with .Params.summary }}
            <p>{{ . }}</p>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <p><em>No content found in this section.</em></p>
  {{ end }}
{{ end }}

